[Desktop Entry]
Name=IntelliJ IDEA
Type=Application
Exec=/opt/idea-Ic-183.4886.37/bin/idea.sh
Terminal=false
Icon=/opt/idea-Ic.183.4886.37/bin/idea.png
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=IntelliJ IDEA
Name[en_US]=IntelliJ IDEA
Name[pt-BR]=IntelliJ IDEA
